@font-face {
    font-family: 'morpheus';
    src: url('morpheus.ttf') format('truetype'),
    url('morpheus.woff2') format('woff2'),
         url('morpheus.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    /* Устанавливаем шрифт по умолчанию */
    --font-family: 'morpheus', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}