@font-face {
    font-family: 'Morpheus';
    src: url('Morpheus.ttf') format('truetype'),
    url('Morpheus.woff2') format('woff2'),
         url('Morpheus.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    /* Устанавливаем шрифт по умолчанию */
    --font-family: 'Morpheus', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}