@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

html {
    /* Устанавливаем шрифт по умолчанию */
    --font-family: 'Pangolin', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Стили для тёмной темы и рукописного бордера */
.hand-drawn-border {
    filter: url(#rough-edge);
}
/* .hand-drawn-border_hover:hover {
    filter: url(#rough-edge-2) blur(0.5px);
} */